<div class="animated fadeIn">
  <div class="col-md-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto">
            <button [routerLink]="['/configs/config-creator']" type="button" class="btn btn-primary px-4"><i class="icon-plus"></i> Create a new config</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="card">  <!--1. container (card)-->
    <div class="card-header">
      <!--<i class="icon-"></i>--><strong>Configs</strong>
    </div>
    <div class="card-body"> <!--Tělo 1. containeru (cardu)-->
      <table class="table table-responsive-sm table-hover table-outline mb-0">  <!--1. TABULKA-->
        <thead class="thead-light"> <!--Záhlaví tabulky-->
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th> <!--Full, Differential, Incremental-->
          <th>Cron</th> <!-- https://bradymholt.github.io/cron-expression-descriptor/ -->
          <th>Maximal Size</th>
          <th>Maximal Count</th>
          <th>Archive</th> <!--bit-->
          <th>Sources</th>
          <th>Local Destinations</th>
          <th>Network Destinations</th>
          <th>FTP Destinations</th>
          <th><div class="small text-muted">Remove</div></th>
        </tr>
        </thead>  <!--Záhlaví tabulky-->
        <tbody> <!--Seznam Clientů-->
        <tr>
          <td>1</td>
          <td>
            <div>
              <strong>Admins</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-check"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <div>
              <strong>ICT_108</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-close"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <div>
              <strong>ICT_114</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-close"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>4</td>
          <td>
            <div>
              <strong>ICT_211</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-check"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>
            <div>
              <strong>KAB_03</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-check"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>6</td>
          <td>
            <div>
              <strong>KAB_04</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-close"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>7</td>
          <td>
            <div>
              <strong>Students</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-check"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>
        <tr>
          <td>8</td>
          <td>
            <div>
              <strong>Teachers</strong>
            </div>
          </td>
          <td>
            <div>Full</div>
          </td>
          <td>
            <div class="small text-muted">
              At 11:00 PM, Monday through Friday
            </div>
          </td>
          <td>
            <div>
              7 GB
            </div>
          </td>
          <td>
            <div>
              6
            </div>
          </td>
          <td>
            <i class="icon-check"></i>
          </td>
          <td>
            <div class="small text-muted">
              Desktop
            </div>
            <div class="small text-muted">
              Documents
            </div>
            <div class="small text-muted">
              Music
            </div>
          </td>
          <td>
            <div class="small text-muted">
              C:\backup
            </div>
            <div class="small text-muted">
              Z:\backup
            </div>
          </td>
          <td>
            <div class="small text-muted">
              AWS #2
            </div>
            <div class="small text-muted">
              Azure #1
            </div>
            <div class="small text-muted">
              Azure #2
            </div>
            <div class="small text-muted">
              Google Cloud #3
            </div>
          </td>
          <td>
            <div class="small text-muted">
              FTP Ghinui
            </div>
            <div class="small text-muted">
              FTP Fonsul
            </div>
            <div class="small text-muted">
              FTP Opetra
            </div>
          </td>
          <td>
            <div class="col-md-3">
              <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
            </div>
          </td>
        </tr>

        </tbody> <!--Seznam Clientů-->
      </table>  <!--1. TABULKA-->
      <ul class="pagination mt-2">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div> <!--Tělo 1. containeru (cardu)-->
    <div class="card-footer"> <!-- zápatí 1. containeru (cardu)-->

    </div>
  </div>
  </div>
</div>
