<div class="animated fadeIn">
  <div class="col-md-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto">
            <button [routerLink]="['/configs/configs']" type="button" class="btn btn-primary px-4"><i class="icon-arrow-left-circle"></i> Back to configs</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="card">
      <div class="card-header">
        <strong>New Config</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="configForm" (ngSubmit)="onSubmit()" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name"><strong>Name</strong></label>
                <div class="col-md-9">
                  <input id="name" type="text" formControlName="name" value="name" name="name" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="type"><strong>Type</strong></label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1" id="type">
                    <input class="form-check-input" type="radio" name="type" id="type1" formControlName="type" value="full">
                    <label class="form-check-label" for="type1">Full</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="type" id="type2" formControlName="type" value="incremental">
                    <label class="form-check-label" for="type2">Incremental</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="type" id="type3" formControlName="type" value="differential">
                    <label class="form-check-label" for="type3">Differential</label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label"><strong>Config Scheduler</strong></label>
                <div class="col-md-9 col-form-label">
                  <!--app-cron-generator></app-cron-generator-->
                  <cron-editor class="cron-editor" [(cron)]="cronExpression" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
                  <!--p>{{cronExpression}}</p-->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="max_count"><strong>Maximal Count</strong></label>
                <div class="col-md-3">
                  <input type="cron" id="max_count" formControlName="max_count" value="max_count" name="max_count" class="form-control" placeholder="Maximal Count">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label"><strong>Archive</strong></label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="compress_into_archive" value="compress_into_archive" id="compress_into_archive">
                    <span class="help-block">(tick for enabling backup compression into an archive)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <app-destinations-checkbox-list [destinations]="data" (selected)="showDestination($event)" (change)="onCheckChange($event)"></app-destinations-checkbox-list>
              <div formArrayName="sources" class="form-group-row">
                <label class="col-md-3 col-form-label"><strong>Sources</strong></label>
                <div class="col-md-12">
                  <button type="button" (click)="addSource()" class="btn btn-sm btn-secondary">+ Add another source path</button>
                </div>
                <div *ngFor="let source of sources.controls; let i=index" class="col-md-12">
                  <label class="col-md-3 col-form-label" for="source-{{ i }}">{{ i+1 }}. Source:</label>
                  <div class="col-md-9">
                    <input id="source-{{ i }}" type="text" [formControlName]="i" class="form-control" placeholder="X:\...\...\...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row pull-right">
          <div class="col-md-auto">
            <button type="submit" (click)="onSubmit()" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
          <div class="col-md-auto">
            <button type="reset" (click)="redirectTo('configs/config-creator')" class="btn btn-outline-primary"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
