<div class="animated fadeIn">
  <div class="col-md-auto">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto">
            <button [routerLink]="['/configs/config-creator']" type="button" class="btn btn-primary px-4"><i class="icon-plus"></i> Create a new config</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="card">  <!--1. container (card)-->
    <div class="card-header">
      <!--<i class="icon-"></i>--><strong>Configs</strong>
    </div>
    <div class="card-body"> <!--Tělo 1. containeru (cardu)-->
      <app-configs-table [configs]="data" (selected)="showConfig($event)"></app-configs-table>
      <ul class="pagination mt-2">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div> <!--Tělo 1. containeru (cardu)-->
    <div class="card-footer"> <!-- zápatí 1. containeru (cardu)-->

    </div>
  </div>
  </div>
</div>
