<div class="animated fadeIn">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-auto">
            <button [routerLink]="['/configs/destinations']" type="button" class="btn btn-primary px-4"><i class="icon-arrow-left-circle"></i> Back to destinations</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 align-middle">
    <div class="card">
      <div class="card-header">
        <h6>Editing destination:</h6>
        <br>
        <div class="card">
          <div class="card-body">
            <div><strong>ID: </strong>{{destination.id}}</div>
            <div><strong>Name: </strong>{{destination.name}}</div>
            <div><strong>Path: </strong>{{destination.path}}</div>
            <div><strong>Type: </strong>{{destination.type}}</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Path</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Type</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Login</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-auto">
            <button type="submit" class="btn btn-sm btn-primary"><i class="icon-note"></i> Save</button>
          </div>
          <div class="col-md-auto">
            <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i> Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
