<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header">
        <strong>New Admin</strong>
      </div>
      <div class="card-body col-md-auto"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isCollapsed">
        <form [formGroup]="adminForm" (ngSubmit)="onSubmit()" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name"><strong>Name</strong></label>
            <div class="col-md-9">
              <input type="text" id="name" name="name" formControlName="name" value="name" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="login"><strong>Login</strong></label>
            <div class="col-md-9">
              <input type="text" id="login" name="login" formControlName="login" value="login" class="form-control" placeholder="Login">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password-input"><strong>Password</strong></label>
            <div class="col-md-9">
              <input type="password" id="password-input" name="password-input" formControlName="password" value="password" class="form-control" placeholder="Password" autocomplete="current-password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"><strong>Send Report Email</strong></label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <div class="row">
                  <div class="col-md-auto">
                    <input class="form-check-input" type="checkbox" formControlName="send_report_email" value="send_report_email"  id="send_report_email">
                    <span class="help-block">(tick for enabling sending report e-mails)</span>
                  </div>
                  <!--
                  <div class="col-md-4">
                    <input type="text" id="email_cron" name="email_cron" class="form-control" placeholder="Email Cron">
                    <cron-gen ng-model="cronExpression"
                              options="cronOptions"
                              template-url="your optional, custom template (Defaults to a bootstrap 3 template)"
                              cron-format="quartz (Currently only compatible with 'quartz' and defaults to 'quartz')"
                              ng-disabled="isCronDisabled">
                    </cron-gen>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"><strong>Report Email Scheduler</strong></label>
            <div class="col-md-9 col-form-label">
            <cron-editor class="cron-editor" [(cron)]="cronExpression" [disabled]="isCronDisabled" [(options)]="cronOptions"></cron-editor>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row pull-right">
          <div class="col-md-auto">
            <button type="submit" (click)="onSubmit()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
          <div class="col-md-auto">
            <button type="reset" (click)="redirectTo('admins')" class="btn btn-sm btn-outline-primary"><i class="fa fa-ban"></i> Reset</button>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary"
                    (click)="isCollapsed = !isCollapsed">Open/Close Form
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card">  <!--1. container (card)-->
      <div class="card-header">
        <!--<i class="icon-"></i>--><strong>Admins</strong>
      </div>
      <div class="card-body"> <!--Tělo 1. containeru (cardu)-->
        <app-admins-table [admins]="data" (selected)="showAdmin($event)"></app-admins-table>
        <ul class="pagination mt-2">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div> <!--Tělo 1. containeru (cardu)-->
      <div class="card-footer"> <!-- zápatí 1. containeru (cardu)-->
      </div>
    </div>
  </div>
</div>
