<div class="animated fadeIn">
  <div>
    <div class="card">
      <div class="card-header">
        <strong>New Admin</strong>
      </div>
      <div class="card-body col-md-auto"
           (collapsed)="collapsed($event)"
           (expanded)="expanded($event)"
           [collapse]="isCollapsed">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name"><strong>Name</strong></label>
            <div class="col-md-9">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="login"><strong>Login</strong></label>
            <div class="col-md-9">
              <input type="text" id="login" name="login" class="form-control" placeholder="Login">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password-input"><strong>Password</strong></label>
            <div class="col-md-9">
              <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password" autocomplete="current-password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"><strong>Send Report Email</strong></label>
            <div class="col-md-9 col-form-label">
              <div class="form-check">
                <div class="row">
                  <div class="col-md-auto">
                    <input class="form-check-input" type="checkbox" value="send_report_email" id="send_report_email">
                    <span class="help-block">(tick for enabling sending report e-mails)</span>
                  </div>
                  <!--
                  <div class="col-md-4">
                    <input type="text" id="email_cron" name="email_cron" class="form-control" placeholder="Email Cron">
                    <cron-gen ng-model="cronExpression"
                              options="cronOptions"
                              template-url="your optional, custom template (Defaults to a bootstrap 3 template)"
                              cron-format="quartz (Currently only compatible with 'quartz' and defaults to 'quartz')"
                              ng-disabled="isCronDisabled">
                    </cron-gen>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label"><strong>Report Email Scheduler</strong></label>
            <div class="col-md-9 col-form-label">
              <div class="col-md-auto mb-4">
                <tabset>
                  <tab heading="Minutes">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="col-md-auto">Every</div>
                      <div class="col-md-auto">
                        <input type="text" id="minute1" name="minute1" class="form-control" placeholder="minute(s)">
                      </div>
                      <div class="col-md-auto">
                        minute(s) on second
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="second1" name="second1" class="form-control" placeholder="second">
                      </div>
                    </form>
                  </tab>
                  <tab heading="Hourly">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="col-md-auto">Every</div>
                      <div class="col-md-auto">
                        <input type="text" id="hour2" name="minute2" class="form-control" placeholder="hours(s)">
                      </div>
                      <div class="col-md-auto">
                        hour(s) on minute
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="minute2" name="minute2" class="form-control" placeholder="minute">
                      </div>
                      <div class="col-md-auto">
                        and second
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="second2" name="second2" class="form-control" placeholder="second">
                      </div>
                    </form>
                  </tab>
                  <tab heading="Daily">
                    <div class="form-group row">
                      <div class="col-md-auto col-form-label">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="radios" id="radio1" value="option1" checked>
                          <div class="col-md-auto">
                            <div class="col-md-auto">Every</div>
                            <div class="col-md-auto">
                              <input type="text" id="day3" name="day3" class="form-control" placeholder="day(s)">
                            </div>
                            <div class="col-md-auto">
                              days(s) at
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="hour3" name="hour3" class="form-control" placeholder="hour(s)">
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="minute3" name="minute3" class="form-control" placeholder="minute(s)">
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="second3" name="second3" class="form-control" placeholder="second(s)">
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="radios" id="radio2" value="option2" checked>
                          <div class="col-md-auto">
                            <div class="col-md-auto">Every week day (Monday through Friday) at</div>
                            <div class="col-md-auto">
                              <input type="text" id="weekday3" name="weekday3" class="form-control" placeholder="day(s)">
                            </div>
                            <div class="col-md-auto">
                              days(s) at
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="weekhours3" name="weekhours3" class="form-control" placeholder="hour(s)">
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="weekminutes3" name="weekminutes3" class="form-control" placeholder="minute(s)">
                            </div>
                            <div class="col-md-auto">
                              <input type="text" id="weeksecond3" name="weeksecond3" class="form-control" placeholder="second(s)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    </form>
                  </tab>
                  <tab heading="Weekly">
                    <div class="form-group row">
                      <div class="col-md-auto col-form-label">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="monday4">
                          <label class="form-check-label" for="monday4">
                            Monday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="tuesday4">
                          <label class="form-check-label" for="tuesday4">
                            Tuesday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="wednesday4">
                          <label class="form-check-label" for="wednesday4">
                            Wednesday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="thursday4">
                          <label class="form-check-label" for="thursday4">
                            Thursday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="friday4">
                          <label class="form-check-label" for="friday4">
                            Friday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="saturday4">
                          <label class="form-check-label" for="saturday4">
                            Saturday
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="option1" id="sunday4">
                          <label class="form-check-label" for="sunday4">
                            Sunday
                          </label>
                        </div>
                      </div>
                      <br>
                      <div class="col-md-auto">
                        <div class="col-md-auto">Start time</div>
                        <div class="col-md-auto">
                          <input type="text" id="hour4" name="hour4" class="form-control" placeholder="hour(s)">
                        </div>
                        <div class="col-md-auto">
                          <input type="text" id="minute4" name="minute4" class="form-control" placeholder="minute(s)">
                        </div>
                        <div class="col-md-auto">
                          <input type="text" id="second4" name="second4" class="form-control" placeholder="second(s)">
                        </div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Monthly">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="col-md-auto">Day</div>
                      <div class="col-md-auto">
                        <input type="text" id="day5" name="day5" class="form-control" placeholder="day(s)">
                      </div>
                      <div class="col-md-auto">
                        of every
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="month5" name="month5" class="form-control" placeholder="month(s)">
                      </div>
                      <div class="col-md-auto">
                        month(s) at
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="hour5" name="hour5" class="form-control" placeholder="hour(s)">
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="minute5" name="minute5" class="form-control" placeholder="minute(s)">
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="second5" name="second5" class="form-control" placeholder="second(s)">
                      </div>
                    </form>
                  </tab>
                  <tab heading="Yearly">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                      <div class="col-md-auto">Month</div>
                      <div class="col-md-auto">
                        <input type="text" id="month6" name="month6" class="form-control" placeholder="month">
                      </div>
                      <div class="col-md-auto">
                        on the day
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="day6" name="day6" class="form-control" placeholder="day">
                      </div>
                      <div class="col-md-auto">
                        at
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="hour6" name="hour6" class="form-control" placeholder="hour(s)">
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="minute6" name="minute6" class="form-control" placeholder="minute(s)">
                      </div>
                      <div class="col-md-auto">
                        <input type="text" id="second6" name="second6" class="form-control" placeholder="second(s)">
                      </div>
                    </form>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="row pull-right">
          <div class="col-md-auto">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
          <div class="col-md-auto">
            <button type="reset" class="btn btn-sm btn-outline-primary"><i class="fa fa-ban"></i> Reset</button>
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary"
                    (click)="isCollapsed = !isCollapsed">Open/Close Form
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card">  <!--1. container (card)-->
      <div class="card-header">
        <!--<i class="icon-"></i>--><strong>Admins</strong>
      </div>
      <div class="card-body"> <!--Tělo 1. containeru (cardu)-->
        <app-admins-table [admins]="data" (selected)="showAdmin($event)"></app-admins-table>
        <ul class="pagination mt-2">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div> <!--Tělo 1. containeru (cardu)-->
      <div class="card-footer"> <!-- zápatí 1. containeru (cardu)-->
      </div>
    </div>
  </div>
</div>
