<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <!--th>Configs</th-->
    <th>MAC Address</th>
    <th>IP Address</th>
    <th>Last Backup</th>
    <th>Activity</th>
    <th><div class="small text-muted">Edit</div></th>
    <th><div class="small text-muted">Remove</div></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{ client.id}}</td>
    <td><strong>{{ client.device_name }}</strong></td>
    <!--td>
      <div class="small text-muted">
        KAB_03
      </div>
      <div class="small text-muted">
        Teachers
      </div>
    </td-->
    <td>{{ client.mac_address}}</td>
    <td>{{ client.ipv4_address}}</td>
    <td>{{ client.last_backup}}</td>
    <td>{{ client.last_seen}}</td>
    <td>
      <div class="col-md-3">
        <button type="reset" class="btn btn-sm btn-primary" (click)="clientSelected(client)"><i class="icon-note"></i></button>
      </div>
    </td>
    <td>
      <div class="col-md-3">
        <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
