<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
  <tr>
    <th>ID</th>
    <th>Client ID</th>
    <th>Config ID</th>
    <th>Was successful</th>
    <th>Start</th>
    <th>End</th>
    <th>Error Code</th>
    <th><div class="small text-muted">Remove</div></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let log of logs">
    <td>{{ log.id }}</td>
    <td>{{ log.client_id }}</td>
    <td>{{ log.config_id }}</td>
    <td>{{ log.was_successful }}</td>
    <td>{{ log.start }}</td>
    <td>{{ log.end }}</td>
    <td>{{ log.error_code }}</td>
    <td>
      <div class="col-md-3">
        <button type="reset" class="btn btn-sm btn-danger"><i class="icon-close"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
