<div class="animated fadeIn">
  <div class="col-md-auto">
    <div class="card">  <!--1. container (card)-->
      <div class="card-header">
        <!--<i class="icon-"></i>--><strong>Logs</strong>
      </div>
      <div class="card-body"> <!--Tělo 1. containeru (cardu)-->
        <app-logs-table [logs]="data" (selected)="showLog($event)"></app-logs-table>
        <ul class="pagination mt-2">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div> <!--Tělo 1. containeru (cardu)-->
      <div class="card-footer"> <!-- zápatí 1. containeru (cardu)-->

      </div>
    </div>
  </div>

  <!--konec 1. containeru-->
</div>
