<table class="table table-responsive-sm table-hover table-outline mb-0">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Send Report Email</th>
    <th>Email Cron</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let admin of admins">
    <td><strong>{{ admin.name }}</strong></td>
    <td>{{ admin.send_report_email }}</td>
    <td>{{ admin.email_cron }}</td>
    <td></td>
    <td>
      <button type="reset" class="btn btn-sm btn-primary" (click)="adminSelected(admin)"><i class="icon-note"></i></button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="deleteById(admin.id)"><i class="icon-close"></i></button>
    </td>
  </tr>
  </tbody>
</table>
