<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">82</div>
          <div><strong>Clients</strong> online right now</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart1Data"
                  [labels]="lineChart1Labels"
                  [options]="lineChart1Options"
                  [colors]="lineChart1Colours"
                  [legend]="lineChart1Legend"
                  [chartType]="lineChart1Type //noinspection ValidateTypes"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">32 GB</div>
          <div><strong>Backed up</strong> this month</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart"
                  [datasets]="lineChart2Data"
                  [labels]="lineChart2Labels"
                  [options]="lineChart2Options"
                  [colors]="lineChart2Colours"
                  [legend]="lineChart2Legend"
                  [chartType]="lineChart2Type //noinspection ValidateTypes"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">3</div>
          <div><strong>Upcoming backups</strong> today</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
        </div>
      </div>
    </div><!--/.row-->
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Completed Backups Last Month</h4>
          <div class="small text-muted">January 2022</div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
                [datasets]="mainChartData"
                [labels]="mainChartLabels"
                [options]="mainChartOptions"
                [colors]="mainChartColours"
                [legend]="mainChartLegend"
                [chartType]="mainChartType  //noinspection ValidateTypes" ></canvas>
      </div>
    </div>
    <div class="card-footer">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">237</div>
          <div><strong>Total </strong>Clients</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
        </div>
      </div>
    </div><!--/.row-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">8</div>
          <div><strong>Total </strong>Admins</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
        </div>
      </div>
    </div><!--/.row-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">24</div>
          <div><strong>Active</strong> Configs</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:25px;">
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>
